# Зависимости
package-lock.json
node_modules/

# Temporary files
*.js
*.js.map
*.css
*.css.map

# Builds
build/
dist/

# Другие файлы
.eslintcache
env.ts

# visual studio
*.suo
*.dll
*njsproj*
*.sln

# vscode
.vscode/
