@import "../../assets/variables.scss";

%abstract-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 16px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: $primary;
  font: {
    size: 20px;
    weight: bold;
  }

  &__title,
  &__link {
    @extend %abstract-link;
  }

  &__title {
    color: $color-text-white;
    justify-self: flex-start;
  }

  &__link {
    text-decoration: none;
    color: $color-text-main;
    min-width: 100px;
    font: {
      size: 12px;
      weight: lighter;
    }

    transition: {
      property: background-color;
      duration: 0.3s;
      timing-function: ease-in-out;
    }

    &:hover {
      background-color: lighten($color: $primary, $amount: 5);
    }
  }
}
