.nav {
  background-color: #00ba8b;
  padding: 15px;
  color: white;
  font: {
    family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 20px;
    weight: bold;
  }
}

.nav-link {
  text-decoration: none;
  color: black;
  padding: 60px;
  font: {
    size: 13px;
    weight: lighter;
  }
}
