@import "button";
@import "input";

.edit-style() {
  .button();
  .form-field {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 8px;

    label:not(:last-child) {
      margin-bottom: 8px;
    }

    input {
      .input();
    }
  }
}
